@use './scss/fonts.scss';
@use './scss/colors.scss' as colors;

:root {
  font-family: Roboto;
  font-weight: 400;

  color-scheme: light dark;
  background-image: colors.$bg;
  background-attachment: fixed;
  height:100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin:0;
}



