@use './scss/fonts.scss';
@use './scss/colors.scss' as colors;

:root {
	font-family: Roboto;
	font-weight: 400;
	color: colors.$secondary-color;

	color-scheme: light dark;
	background-image: colors.$bg;
	background-attachment: fixed;
	will-change: transform;
	height: 100%;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// @media (pointer: coarse) {
	// 	-webkit-user-select: none;
	// 	user-select: none;
	// }
}

::selection {
	background-color: colors.$primary-color;
	color: colors.$secondary-color;
}

body {
	margin: 0;
}

.highlight {
	color: colors.$primary-color;
}

h1,h3{
	margin:0;
	line-height: 1;
}

p{
	margin:0;
}