@use './colors.scss' as colors;
@use './globals.scss' as globals;
@use './fonts.scss';

.button{
    border: none;
    border-radius: 6px;
    transition: globals.$transition;
    display:flex;
	justify-content: center;
	align-items: center;
    font-family:Roboto;
    gap:5px;
}

.primary-button {
    background-color: colors.$primary-color;
    color: colors.$primary-button-text-color;
}

.primary-button:active{
    background-color: #ae0003;
}

button:active {
    transform: scale(0.9);
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline:none;
}

.secondary-button {
    background-color: colors.$secondary-color;
    color: colors.$secondary-color-text-color;
}

.secondary-button:active{
    background-color: #c5c5c5;
}

@media (hover: hover) and (pointer: fine) {
    .button{
        cursor: pointer;
    }

    .primary-button:hover {
        background-color: #ae0003;
    }

    .secondary-button:hover {
        background-color: #c5c5c5;
    }
}