$binary-anim: linear-gradient(180deg, #470001 33.65%, rgba(255, 255, 255, 1) 94.23%);
$primary-color:#470001;
$secondary-color:#ffffff;
$tertiary-color:#878787;
$primary-button-text-color:white;
$secondary-color-text-color:black;
$card-bg:#0F0F0F;
$input-bg:#1B1B1B;
$placeholder-text:#ffffff4f;
$input-border:#282828;
$input-text-color:#d9d9d9;
$error-color:#c20000;
$secondary-card-bg:black;
$ping-bg:#4700016a;
$system-app-bg:#101010;
$system-app-border:#4B4B4B;
$system-app-header-bg:#212121;
$system-app-actions-bg:#171717;
$bg: linear-gradient(180deg, #000000 80%, $primary-color 100%);