$binary-anim: linear-gradient(180deg, #470001 33.65%, rgba(255, 255, 255, 1) 94.23%);
$primary-color:#470001;
$secondary-color:white;
$tertiary-color:#878787;
$primary-button-text-color:white;
$secondary-color-text-color:black;
$bg: linear-gradient(180deg, #000000 80%, $primary-color 100%);