.cursor{
    display: inline;
    animation: blink step-end 1s infinite;
    visibility: hidden;
}

.cursor.normal{
    border-right: 1px solid currentColor;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}