@use './globals.scss' as globals;
@use "./colors.scss" as colors;

.icon-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    transition:globals.$transition;
}

.interactive {
    color: colors.$secondary-color
}

@media (hover: hover) and (pointer: fine) {
    .interactive:hover {
        cursor: pointer;
        color: #c5c5c5;
    }
}

.interactive:active {
    transform: scale(0.9);
    color: #c5c5c5;
}