@use 'colors.scss' as colors;

.input-wrapper {
    background-color: colors.$input-bg;
    border: 1px solid colors.$input-border;
    border-radius: 6px;
    transition: 0.5s;
    display: flex;
    gap: 5px;
    position: relative;
    align-items: center;
}

.icon{
    color: colors.$placeholder-text;
}

.input-wrapper input{
    font-size:inherit;
    font-family: Roboto;
}

.input-field {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    flex-grow: 1;
    color: colors.$input-text-color;
}

.input-field::placeholder {
    color: colors.$placeholder-text;
}

.input-wrapper:hover {
    background-color: #262626;
}

.input-wrapper:focus-within {
    outline: none;
    border: 1px solid colors.$primary-color;
    box-shadow: 0 0 7px colors.$primary-color;
}

.input-wrapper.error {
    border: 1px solid colors.$error-color;
    box-shadow: 0 0 7px colors.$error-color;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    container-type: inline-size;
}

.errorMsg {
    color: colors.$error-color;
    font-size: clamp(1rem, 2.5cqw, 1.2rem);
    padding: 0 8px;
}

.password-icon {
    color: colors.$placeholder-text;
    font-size: clamp(1rem, 2.5cqw, 1.2rem);
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: colors.$secondary-card-bg;
    border-radius: 6px;
    position: absolute;
    width: 100%;
    top:calc(100% - 5px);
    padding: 5px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height:100px;
}