.container-main{
    container-type: inline-size;
    width: 100%;
    flex-grow:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    container-name: main;
}

.container{
    container-type: inline-size;
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}