@use './colors.scss' as colors;

.container-main {
    container-type: inline-size;
    width: 100%;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    container-name: main;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: colors.$tertiary-color black;
    scrollbar-width: thin;
    position: relative;
}

.container-full-window{
    container-type: inline-size;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    container-type: inline-size;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}