@use './colors.scss' as colors;

.primary-button,
.secondary-button{
    border: none;
    border-radius: 6px;
    transition: 0.5s;
    font-family: Roboto;
    display:flex;
	justify-content: center;
	align-items: center;
}

.primary-button {
    background-color: colors.$primary-color;
    color: colors.$primary-button-text-color;
}

.primary-button:active{
    background-color: #ae0003;
}

.primary-button:active,
.secondary-button:active {
    transform: scale(0.9);
    -webkit-tap-highlight-color: transparent;
}

.primary-button:focus,
.secondary-button:focus {
    outline:none;
}

.secondary-button {
    background-color: colors.$secondary-color;
    color: colors.$secondary-color-text-color;
}

.secondary-button:active{
    background-color: #c5c5c5;
}

@media (hover: hover) and (pointer: fine) {
    .primary-button:hover {
        background-color: #ae0003;
        cursor: pointer;
    }

    .secondary-button:hover {
        background-color: #c5c5c5;
        cursor: pointer;
    }
}