@use 'colors.scss' as colors;
@use './globals.scss' as globals;

.menu-container {
    padding: 2.3cqw 1.1cqw;
    display: flex;
    align-items: center;
    gap: 10px;
    container-type: inline-size
}

.option {
    font-size: clamp(0.9rem, 3cqw, 1.4rem);
    padding: 3px 1.2cqw;
    color: colors.$tertiary-color;
    transition: 0.5s;
    will-change: transform;
}

@media (hover: hover) and (pointer: fine) {
    .option:hover {
        color: colors.$secondary-color;
        cursor: pointer;
    }

    .active:hover {
        border-bottom: 1px solid colors.$secondary-color;
    }
}

.option:active {
    // transform: scale(0.9);
    color: colors.$secondary-color;
}

.active:active {
    border-bottom: 1px solid colors.$secondary-color;
}

.active {
    color: colors.$secondary-color;
    border-bottom: 1px solid colors.$secondary-color;
}
