@use "./colors.scss" as colors;

.container {
    container-type: inline-size;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 4cqw 2cqw;
}

.card {
    text-align: center;
    padding: clamp(24px, 4cqw, 48px) clamp(24px, 4cqw, 48px);
    border-radius: 12px;
    background-color: colors.$card-bg;
    border: 1px solid colors.$system-app-border;
}

.title {
    font-family: "Courier Prime";
    color: colors.$secondary-color;
    margin-bottom: 12px;
}

.message {
    font-family: "Courier Prime";
    color: colors.$tertiary-color;
}
