@use "./colors.scss" as colors;
@use "./globals.scss" as globals;

.pfp {
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    height: clamp(20px, 5cqw, 30px);
    width: clamp(20px, 5cqw, 30px);
}

.card-container {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.3cqw, 15px);
    padding: 7px 15px;
    background-color: colors.$card-bg;
    border-radius: 6px;
    transition: globals.$transition;
}

@media (hover: hover) and (pointer: fine) {
    .card-container:hover {
        cursor: pointer;
        background-color: #2f2f2f;
    }
}

.card-container:active {
    background-color: #2f2f2f;
}

.user-container {
    container-type: inline-size;
    display: flex;
    gap: 5px;
    align-items: center;
}

.username {
    color: colors.$tertiary-color;
    font-size: clamp(0.7rem, 2.8cqw, 1.1rem);
}

.title {
    margin: 0;
    font-size: clamp(1.25rem, 5cqw, 2rem);
}

.content-with-img,
.content {
    color: colors.$tertiary-color;
    font-size: clamp(0.85rem, 3.4cqw, 1.25rem);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-with-img {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.content {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.post-img {
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    width: 100%;
    position: relative;
    z-index: 3;
}

.post-img-wrapper {
    background-color: colors.$secondary-card-bg;
}