@use "./colors.scss" as colors;
@use "./globals.scss" as globals;

.container{
    container-type:inline-size;
    width: 100%;
    max-width: globals.$desktop-content-size;
    background-color: colors.$card-bg;
    display: flex;
    flex-direction: column;
    flex-grow:1;
    box-sizing: border-box;
    position: relative;
}

.post-container{
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
    gap:10px;
    container-type:inline-size;
    border-bottom: 1px solid colors.$tertiary-color;
}

.return-container{
    display: flex;
    gap:10px;
    align-items: center;
    container-type:inline-size;
}

.subforum-pfp{
    border-radius: 100px;
    width:clamp(25px,5.8cqw,35px);
    height:clamp(25px,5.8cqw,35px);
}

.subforum-name{
    color:colors.$tertiary-color;
    font-size:clamp(0.7rem,2.6cqw,1rem);
}

.post-title{
    font-size: clamp(1.25rem,4.6cqw,2rem);
    margin:0;
}

.content{
    font-size: clamp(0.9rem,3.3cqw,1.3rem);
    color:colors.$tertiary-color;
    margin:0;
}

.comments-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    padding:5px 0 0 0;
    background-color: colors.$secondary-card-bg;
    flex-grow:1;
}

.no-comments{
    font-size: clamp(0.9rem,3.3cqw,1.3rem);
    color:colors.$tertiary-color;
    margin-top:10vh;
}

.input-container{
    position: sticky;
    display: flex;
    container-type: inline-size;
    width: 100%;
    background-color: colors.$secondary-card-bg;
    padding:10px;
    box-sizing: border-box;
    gap:6px;
    bottom:0;
}

.input{
    padding: 8px 12px;
    font-size: clamp(0.9rem,3.3cqw,1.3rem);
}

.send-button{
    padding: 6px 15px;
    font-size: clamp(0.9rem,3.3cqw,1.3rem);
}