@use 'colors.scss' as colors;

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-container .card {
    // height:calc(100cqh - var(--header-height,100px));
    margin-top: calc(25.07cqh - var(--header-height, 100px));
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 12px;
    background-color: colors.$card-bg;
    border-radius: 6px;
    gap: 15px;
}

.signup-container .title {
    margin: 0;
    font-size: clamp(2.25rem, 6cqw, 3rem);
}

.signup-container .inputs {
    margin-top: 10px;
    gap: 17px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup-container a {
    margin: 0;
    color: colors.$secondary-color;
    font-size: clamp(0.8rem, 2.5cqw, 1rem);
    font-weight: bold;
    transition: 0.5s;
    display: inline-block;
}

@media (hover: hover) and (pointer: fine) {
    .signup-container a:hover {
        color: #c0c0c0;
        cursor: pointer;
    }
}

.signup-container a:active {
    transform: scale(0.9);
}

.signup-container .login {
    color: colors.$tertiary-color;
    margin: 0;
    font-size: clamp(0.8rem, 2.5cqw, 1rem);
}

.signup-container .disclaimer {
    margin-top: 5cqh;
    width: 70%;
    text-align: center;
    color: colors.$tertiary-color;
    font-size: clamp(0.8rem, 2.3cqw, 1rem);
    padding: 0 12px;
}

@container (min-width:750px) {

    .signup-container .disclaimer,
    .signup-container .card {
        width: 60%;
    }
}

@container (min-width:1000px) {

    .signup-container .disclaimer,
    .signup-container .card {
        width: 40%;
    }
}

@container (min-width:1400px) {

    .signup-container .disclaimer,
    .signup-container .card {
        width: 30%;
    }
}

@container (min-width:2000px) {

    .signup-container .disclaimer,
    .signup-container .card {
        width: 20%;
    }
}