@use "./colors.scss" as colors;
@use "./globals.scss" as globals;

.container {
    display: flex;
    gap: clamp(7px,1.15cqw,10px);
    align-items: center;
    transition: globals.$transition;
    // container-type: inline-size;
    width: fit-content;
}

.pfp {
    width: clamp(25px, 5.8cqw, 35px);
    height: clamp(25px, 5.8cqw, 35px);
    border-radius: 100px;
}

.name {
    color: colors.$tertiary-color;
    font-size: clamp(0.8rem, 2.8cqw, 1.1rem);
    transition: globals.$transition;
}

.icon{
    color: colors.$tertiary-color;
    font-size: clamp(1.1rem, 4cqw, 1.4rem);
}

.selected .name,
.selected .icon{
    color:colors.$secondary-color;
}

@media (hover: hover) and (pointer: fine) {
    .container:hover {
        cursor: pointer;
    }

    .container:hover .name {
        color: colors.$secondary-color;
    }
}

.container:active .name{
    transform: scale(0.9);
}

.container:active .name {
    color: colors.$secondary-color;
}