@use "./colors.scss" as colors;
@use "./globals.scss" as globals;

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    container-type: inline-size;
    position: relative;
    flex-grow: 1;
    max-width: globals.$desktop-content-size;

    @container (min-width:calc(#{globals.$desktop-content-size} + 1px)) {
        margin-top: 1vh;
    }
}

.content-container,
.pfp-bg,
.sub-profile-container {
    width: 100%;

}

.pfp-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    height: 12vh;

    @container main (min-width:calc(#{globals.$desktop-content-size} + 1px)) {
        border-radius: 6px 6px 0 0;
    }
}

.sub-profile-container {
    padding: 0 0 globals.$main-hor-padding 0;
    display: flex;
    flex-direction: column;
    background-color: colors.$card-bg;
    border-radius: 6px 6px 0 0;
    margin-top: 10.7vh;
    container-type: inline-size;
    // flex-grow: 1;
}

.header-container {
    padding: globals.$main-hor-padding;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid colors.$tertiary-color;
    container-type: inline-size;
}

.title-header-container {
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    gap: 5px;
}

.online-icon {
    color: #006f07;
    font-size: clamp(0.25rem, 0.9cqw, 0.4rem);
}

.online-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.title {
    margin: 0;
    font-size: clamp(1.25rem, 4.8cqw, 2rem);
}

.follower-count {
    color: colors.$tertiary-color;
    font-size: clamp(0.75rem, 2.8cqw, 1.1rem);
}

.description {
    color: colors.$tertiary-color;
    font-size: clamp(0.68rem, 2.6cqw, 1.3rem);
}

.acc-link {
    color: colors.$link-color;
    font-size: clamp(0.68rem, 2.6cqw, 1.3rem);
    border-bottom: 1px solid;
    width: fit-content;
    padding: 0px 1px;
    transition: globals.$transition;
}

@media (hover: hover) and (pointer: fine) {
    .acc-link:hover {
        color: #de0004;
        cursor: pointer;
    }
}

.acc-link:active {
    color: #de0004;
    transform: scale(0.9);
}

.create-post-container {
    display: flex;
    align-items: center;
    padding: 0 1.1cqw;
    container-type: inline-size;
}

.create-post {
    padding: 8px 8px;
    font-size: clamp(0.8rem, 2.9cqw, 1.3rem);
}

.content-container {
    container-type: inline-size;
    background-color: colors.$secondary-card-bg;
    flex-grow:1;
}

.acc-div{
    position:relative;
    width: fit-content;
}

.acc-tool-tip-container{
    position: absolute;
    background-color: colors.$secondary-card-bg;
    width:clamp(120px,23.8cqw,300px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 6px;
    container-type: inline-size;
    border:1px solid colors.$tertiary-color;
    gap:10px;
    box-sizing: border-box;
    transition: globals.$transition;
}

.acc-tool-tip-container:focus{
    outline: none;
}

.acc-tool-tip-container.open{
    transform: scale(1);
    top:120%;
    left:0%;
}

.acc-tool-tip-container.close{
    transform: scale(0);
    top:-500%;
    left:-50%;
}

.last-games{
    font-size: clamp(0.85rem,11.3cqw,1.1rem);
}

.player-name{
    font-size: clamp(1rem,13.3cqw,1.3rem);
    font-weight: bold;
}

.acc-section{
    display: flex;
    flex-direction: column;
    gap:3px;
}

.rank{
    font-size: clamp(0.7rem,9.3cqw,1rem);
    color:colors.$tertiary-color
}

.last-games-list{
    margin:0;
    padding:0 0 0 20px;
}

.win-game,
.lose-game{
    font-size: clamp(0.75rem,10cqw,1.05rem);
}

.win-game{
    color:#00960a
}

.lose-game{
    color:#de0004
}