@use "./colors.scss" as colors;
@use "./globals.scss" as globals;

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    container-type: inline-size;
    position:relative;
    flex-grow:1;
    max-width: globals.$desktop-content-size;

    @container (min-width:calc(#{globals.$desktop-content-size} + 1px)) {
        margin-top: 1vh;
    }
}

.content-container,
.pfp-bg,
.sub-profile-container {
    width: 100%;
    
}

.pfp-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    height: 12vh;

    @container main (min-width:calc(#{globals.$desktop-content-size} + 1px)) {
        border-radius: 6px 6px 0 0;
    }
}

.sub-profile-container {
    padding: 0 0 2.3cqw 0;
    display: flex;
    flex-direction: column;
    background-color: colors.$card-bg;
    border-radius: 6px 6px 0 0;
    margin-top: 10.7vh;
    container-type: inline-size;
}

.header-container {
    padding: 2.3cqw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid colors.$tertiary-color;
    container-type: inline-size;
}

.title-header-container {
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    gap:5px;
}

.online-icon{
    color:#006f07;
    font-size:clamp(0.25rem, 0.9cqw, 0.4rem);
}

.online-container{
    display: flex;
    gap:5px;
    align-items: center;
}

.title {
    margin: 0;
    font-size: clamp(1.25rem, 4.8cqw, 2rem);
}

.follower-count {
    color: colors.$tertiary-color;
    font-size: clamp(0.75rem, 2.8cqw, 1.1rem);
}

.description {
    color: colors.$tertiary-color;
    font-size: clamp(0.68rem, 2.6cqw, 1.3rem);
    margin: 0;
}

.create-post-container {
    display: flex;
    align-items: center;
    padding: 0 1.1cqw;
    container-type: inline-size;
}

.create-post {
    padding: 8px 8px;
    font-size: clamp(0.8rem, 2.9cqw, 1.3rem);
}

.content-container {
    container-type: inline-size;
    background-color: colors.$secondary-card-bg;
    flex-grow:1;
}