@use "./colors.scss" as colors;
@use './globals.scss' as globals;

.container{
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    padding: 5px 0 0 0;
    gap:5px;
}

.section{
    background-color: colors.$card-bg;
    padding:1.8cqw globals.$main-hor-padding;
    display: flex;
    flex-direction: column;
    gap: 2.3cqw;
}

.title{
    font-weight: bold;
    font-size: clamp(1rem, 3.2cqw, 1.5rem);
}

.user-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:0 0 0 1.5cqw;
}