@use "./colors.scss" as colors;

%terminalText {
    font-family: "Courier Prime", monospace;
    font-size: clamp(1rem, 3.8cqw, 1.2rem);
    line-height: 1.4;
    color: colors.$secondary-color;
}

.body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-sizing: border-box;
}

.output {
    flex: 1 1 0;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none;
    box-sizing: border-box;
}

.prompt-div{
    display:inline
}

.outputLine {
    @extend %terminalText;
    white-space: pre-wrap;
    word-break: break-all;
}

.promptRow {
    @extend %terminalText;
    position: relative;
    // display: flex;
    // gap: 8px;
}

.promptPrefix {
    white-space: nowrap;
    position: absolute;
}

.promptUser {
    color: #00d26a;
}

.promptPath {
    color: #4b8bff;
}

.promptDollar {
    color: colors.$secondary-color;
}

.promptRow .promptInput {
    @extend %terminalText;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: inline;
}

.promptRow .promptInput:hover {
    background-color: transparent;
}

.promptRow .promptInput:focus-within {
    border: none;
    box-shadow: none;
}