@use 'fonts.scss';
@use 'colors.scss' as colors;

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box-container {
  width: 200px;
  height: 300px;
  background-image: colors.$binary-anim;
  mask-image: linear-gradient(to bottom, black 33.65%, transparent 94.23%);
  clip-path: url(#box);
  position: relative;
  overflow: hidden;
}

.test-canvas {
  position: absolute;
  top: 49.5%;
  left: 4.5%;
  width: 19%;
  height: 50.4%;
  pointer-events: none;
  z-index: -1;
}

.test-text {
  font-family: Roboto;
  font-size: 2rem;
  animation: text-glitch 5s linear;
  animation-delay: 0.2s;
}



.onscreen-text {
  color: white;
  font-size: clamp(20px, 2.7vw, 65px);
  word-break: normal;
  position: absolute;
  top: 37.2%;
  left: 64%;
  height: 26.7%;
  width: 21.1%;
  margin: 0;
  font-family: 'Courier Prime';
  line-height: normal;

}

@keyframes testAnim {
 0% {
   transform: translateY(0px);
 }
 100% {
   transform: translateY(50px);
 }
}

.test-anim {
  animation: testAnim 0.5s linear infinite alternate;
  animation-fill-mode: forwards; 
}

@keyframes shake{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-10deg);}
    40% {transform: rotate(0deg);}
    60% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

.shake{
    animation: shake 0.1s linear infinite;
}

@keyframes text-glitch{
    0% {text-shadow: -2rem 5rem 5px rgba(255, 0, 0, 0.389), 2rem 5rem blue, 0 5rem green}
    40% {text-shadow: -2rem 5rem 5px rgba(255, 0, 0, 0.389), 2rem 5rem blue, 0 5rem green}
    60% {text-shadow: 2rem 5rem 5px rgba(255, 0, 0, 0.389), -2rem 5rem blue, 0 5rem green}
    100% {text-shadow: 2rem 5rem 5px rgba(255, 0, 0, 0.389), -2rem 5rem blue, 0 5rem green}
}

@keyframes moveDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(200px); }
}

.move-down{
  animation: moveDown 4s ease-in-out infinite alternate;
}