@use "./colors.scss" as colors;

.default{
    font-family: "Courier Prime";
    white-space: pre-wrap; 
    word-break: break-word;
    position: fixed;
    z-index:20;
    line-height: 1.3;
    font-size: clamp(0.9rem, 3cqw, 1.3rem);
    pointer-events: none;
    background-color: colors.$system-app-bg-transluscent;
    border-radius: 6px;
    padding:10px;
    display: none;
}