@use 'colors.scss' as colors;

.welcome-container{
    margin-top: 16.73cqh;
    padding: 0 10.93cqw;
    gap:1.6cqh;
    display:flex;
    flex-direction: column;
    height:calc(100cqh - 16.73cqh - var(--header-height,100px));
    container-type: inline-size;
    @container (min-width:600px)
    {
        margin-top: 10cqh;
        height:calc(100cqh - 10cqh - var(--header-height,100px));
        padding: 0 5.83cqw;
    }
}

.welcome{
    margin:0;
    font-weight: bold;
    font-size: clamp(2.25rem,6cqw,4rem);
}

.tagline{
    margin:0;
    color: colors.$tertiary-color;
    font-size: clamp(1rem,2.5cqw,1.2rem);
}

.welcome-container .buttons{
    margin-top:31px;
    display: flex;
    gap:16px;
}

.binary-animation{
    margin-top:auto;
    width: 100%;
    height:50%;
    display:flex;
    justify-content: center;
}