@use 'colors.scss' as colors;

.container{
    margin-top: 16.73cqh;
    padding: 0 10.93cqw;
    box-sizing: border-box;
    gap:1.6cqh;
    display:flex;
    flex-direction: column;
    flex-grow:1;
    height:100%;
    width:100%;
    container-type: inline-size;
    @container (min-width:600px)
    {
        margin-top: 10cqh;
        padding: 0 5.83cqw;
    }
}

.welcome{
    margin:0;
    font-weight: bold;
    font-size: clamp(2.25rem,6cqw,4rem);
}

.tagline{
    margin:0;
    color: colors.$tertiary-color;
    font-size: clamp(1rem,2.5cqw,1.2rem);
}

.buttons{
    margin-top:31px;
    display: flex;
    gap:16px;
}

.binary-animation{
    margin-top:auto;
    width: 100%;
    height:40cqh;
    display:flex;
    justify-content: center;
}

.login-button {
	padding: 10px 22px;
	font-size: clamp(0.875rem, 4.5cqw, 1.3rem);
}

.signup-button {
	padding: 10px 15px;
	font-size: clamp(0.875rem, 4.5cqw, 1.3rem);
}