@use 'colors.scss' as colors;
@use 'fonts.scss';

.container-info{
    margin-top: 16.73vh;
    gap:15px;
    display:flex;
    flex-direction: column;
}

.container{
    padding: 0 10.93vw;
    display:flex;
    flex-direction: column;
    height:calc(100vh - var(--header-height,100px));
}

.welcome{
    margin:0;
    width:80%;
    font: bold 36px Roboto;
}

.welcome .highlight{
    color:colors.$primary-color;
}

.tagline{
    margin:0;
    color: colors.$tertiary-color;
    font: 16px Roboto;
}

.buttons{
    margin-top:31px;
    display: flex;
    gap:16px;
}

.binary-animation{
    margin-top:auto;
    width: 100%;
    height:40%;
    display:flex;
    justify-content: center;
}